.profile-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-image {
    margin-bottom: 20px;
}

.upload-circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.profile-uploaded-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.file-label {
    cursor: pointer;
}

button {
    margin-top: 10px;
}
